/* My Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.login
{
    height: 100vh;
    background-color: #f9f9f9;
}

.login img
{
    margin-top: 100px;
}

.login form
{
    font-weight: 600;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}